@import "tailwindcss";
@import "./assets/css/vars.css";
@import "./assets/css/fonts.css";

@theme {
  --color-sidebar-bg: var(--sb-background);
  --color-hover: var(--hover);
  --color-input: var(--input-background);
}

html {
  background-color: var(--background);
  color: var(--foreground);
}

::-webkit-scrollbar {
  width: 0; /* Remove scrollbar space */
  background: transparent; /* Optional: just make scrollbar invisible */
}

body {
  margin: 0;
}

#app {
  height: 100vh;
  text-align: center;
}
