@import "tailwindcss";
@import "./assets/css/vars.css";
@import "./assets/css/fonts.css";

@theme {
  --color-sidebar-bg: var(--sb-background);
  --color-hover: var(--hover);
}

html {
  background-color: var(--background);
  color: var(--foreground);
}

body {
  margin: 0;
}

#app {
  height: 100vh;
  text-align: center;
}
